h1{
    text-align: center;
    background-color: blue;
    color: white;
    margin-top: -0.6%;
}
h4{
    text-align: center;
}
.contact{
    text-align: center;
}
.tbl{
    text-align: center;
}
p{
    text-align: center;
    color: gray;
}
button{
    float: left;
}
.button{
    margin-left: 650px;
    margin-top: 10px;
}