h1{
    text-align: center;
    background-color: blue;
    color:white;
    margin-top: -0.6%;
}
p{
    text-align: center;
    color: gray;
}
.button{
    margin-top: 10px;
    margin-left: 650px;
}
